################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/release-retainer/.vs/release-retainer/DesignTimeBuild
/.vs
/ReleaseRetainerTest/bin/Debug/net48
/ReleaseRetainer/obj
/ReleaseRetainer/bin/Debug/netstandard2.0
/ReleaseRetainerTest/obj
